
*{
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --navy : #000080;
    --white:#FFFFFF;
    --Saffron : #FF9933;
    --green :#138808;
}


.container{
    width: 100%;
    height: 100%;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(90deg, var(--Saffron), var(--white), var(--green));
}

.wrapper{
    height: 90%;
    width: fit-content;
    border-left: 10px solid brown;
    display: flex;
    align-items: start;
    justify-content: start;
}

.flag{
    display: grid;
    background-color: brown;
    height: 200px;
    width: 300px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.color1{
    background-color: var(--Saffron);
}

.color2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

.color3{
    background-color: var(--green);
}

.chakra{
    height:66px;
    border: 2px solid var(--navy);
    position: relative;
    width: 66px;
    border-radius: 50%;
}

.line{
    position: absolute;
    border:1px soild var(--navy);
    background-color: var(--navy);
    inset: 0px; 
    top:50% ;
    width: 100%;
    height: 1.5px;
    transform: rotate(calc(30deg * var(--i))); 
}


